<div class="contact-imfo-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 arrow-right">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                        +998(93) 627 31 66
                    </p>
                </div>
            </div>
            <div class="col-md-6 arrow-right">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        shohruxboymirzayev522@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>